---
layout: default
title: トップ
---

</div>

<div class="relative bg-cover bg-center border-b border-gray-200 h-46" style="background-image: url('/assets/images/background.png');">
  <div class="absolute inset-0 bg-black/70"></div>
  <div class="relative z-10 max-w-7xl px-4 pt-8 pb-20 sm:px-6 lg:px-8 text-left ">
    <h1 class="text-2xl font-bold tracking-tight text-gray-200 sm:text-4xl mb-4 font-[family-name:var(--font-sans)] drop-shadow-sm">
      ようこそ {{ site.title }} へ
    </h1>
    <p class="text-sm sm:text-lg text-gray-300 max-w-2xl font-bold leading-relaxed drop-shadow-sm">
      主に航空系の技術記事や自作ツールを公開しています。<br>
    </p>
  </div>
</div>

  {% include featured_tools.html 
    collection=site.tools 
    title="Tools" 
    url="/tools/" 
 %}

 <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8 py-4">
  <div class="mb-16">
    <div class="flex items-center justify-start mb-6">
      <h2 class="text-2xl font-bold text-gray-800 flex items-center gap-2">
        最近の投稿
      </h2>
      <a href="/articles/" class="mx-4 pt-1 text-sm font-bold text-[var(--color-brand)] hover:underline hidden sm:block">
        すべて見る &rarr;
      </a>
    </div>
    {% include categoryblock.html collections="posts, tool_docs" limit=3 showbutton=true %}
  </div>
</div>


</div>

<style>
  /* Chrome, Safari, Edge */
  .scrollbar-thin::-webkit-scrollbar {
    height: 8px;
  }
  .scrollbar-thin::-webkit-scrollbar-track {
    background: transparent; 
  }
  .scrollbar-thin::-webkit-scrollbar-thumb {
    background-color: #e5e7eb; /* gray-200 */
    border-radius: 20px;
  }
  /* Firefox */
  .scrollbar-thin {
    scrollbar-width: thin;
    scrollbar-color: #e5e7eb transparent;
  }
</style>
