<footer class="bg-[#9191a7] mt-4">
  <div class="mx-auto p-3 text-center text-xs" >

    <p class="space-x-2 my-3">
      <a href="/policy/paper-review/" class="underline hover:opacity-80">
        論文解説に関するポリシー
      </a>
      <span>|</span>
      <a href="/policy/tools/" class="underline hover:opacity-80">
        ツール利用に関するポリシー
      </a>
    </p>

    <p class="text-xs leading-relaxed opacity-90 max-w-2xl mx-auto">
      本ブログでは執筆補助としてAIを使用する場合がありますが、内容の技術的妥当性および最終判断は筆者が行っています。
    </p>

    <div class="text-xs opacity-75 border-tpt-4">
      <p>© {{ site.time | date: "%Y" }} やぱのブログ</p>
    </div>
  </div>
</footer>