<!--
  開発用ブレイクポイント
  all(mobile):
  sm(min-width: 640px):スマホ横～
  md(min-width: 768px):タブレット
  lg(min-width: 1024px):ノートPC
  xl(min-width: 1280px):大型ディスプレイ
  2xl(min-width: 1536px):超ワイド画面
-->

<header
  class=" top-0 z-50 w-full border-b-2 border-[#624ba1ee] divide-gray-400 py-2 bg-white"
>
  <div
    class="flex items-center w-full"
  >
    <!-- タイトル -->
    <a
      href="{{ '/' | relative_url }}"
      class="flex px-2 items-center"
    >
      <img
        src="{{ '/assets/images/logo.png' | relative_url }}"
        alt="ロゴ"
        class="h-10 md:h-10 w-auto ml-2"
      />
      <div class="flex flex-col leading-tigh ">
        <div class="ml-2 text-[1.4rem] text-center text-gray-800 font-black">
          やぱのブログ
        </div>
        <div class="ml-2 text-[0.6rem] text-center text-gray-600 font-medium leading-none ">
          航空工学・生物模倣など
        </div>
      </div>
      <!-- <div class="ml-2 flex flex-col leading-tight">
        <div class="text-[1.2rem] md:text-[1.8rem] text-gray-600 font-medium leading-none">
          
        </div>
      </div> -->
    </a>

    <!-- ナビゲーション -->
      <nav
        class="ml-auto flex flex-wrap divide-x divide-gray-400 text-center font-semibold text-sm md:text-base md:mr-2"
      >
        <a href="{{ '/' | relative_url }}" class="nav-link">Home</a>
        <a href="{{ '/tools/' | relative_url }}" class="nav-link">Tools</a>
        <a href="{{ '/articles/' | relative_url }}" class="nav-link">Articles</a>
      </nav>
  </div>
</header>