---
layout: default
---
{% include katex.html %}
<div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8 py-10">

  <header class="mb-6 border-b border-gray-200 pb-2">
    <div class="text-3xl font-bold text-gray-800 mb-1">{{ page.title }}</div>
    <p class="text-sm text-gray-500">{{ page.date | date: "%Y/%m/%d" }}</p>
  </header>
  <div class="container mx-auto px-4">
  
    <div class="lg:grid lg:grid-cols-12 lg:gap-10">
      
      <main class="lg:col-span-9">  
        <div class="note-toc-inline lg:hidden">
          <p class="toc-title">目次</p>
          {{ content | toc_only }}
        </div>
  
        <div class="article">
          {{ content }}
        </div>        
      </main>
  
      <aside class="lg:col-span-3 relative">
        
        <div class="note-toc-sidebar">
          <p class="toc-title">目次</p>
          {{ content | toc_only }}
        </div>
  
      </aside>
  
    </div>
  </div>
</div>


